@*@{
        ViewBag.Title = "About PTR(e)x";
    }
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>*@

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <link href="~/Content/About.css" rel="stylesheet" />


    <div class="container text-center">
        <h3>About the PTR(e)x Team</h3>
        <h5>Recent graduates of <a href="https://www.wecancodeit.org" target="_blank" class="button">We Can {Code} IT</a> coding bootcamp.</h5>
        <br>

        @* 1st row of profile photos *@
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Images/ProfilePhotos/BBerger.jpg" class="img-circle person" alt="Random Name" width="200" height="200">

                <h2>Brad Berger</h2>
                <button class="accordion">Brad's Bio</button>
                <div class="panel">
                    <p class="text-left">
                        I am a budding full-stack software developer from Cleveland, Ohio.
                        I have a passion for solving the needs of growing businesses through
                        programing code and other web technologies. As a student of We Can {Code}
                        IT, I learned C#, ASP.NET, MVC, SQL, HTML 5, and CSS (just to name a few).
                        In addition, I have a decade of experience in the entertainment industry
                        as a Video Producer and Location Manager for film and tv.
                        <ul>
                            Get in Touch:
                            <a href="http://linkedin.com/in/brad-berger" target="_blank">LinkedIn</a> |
                            <a href="https://github.com/bradberger01" target="_blank">Github</a> |
                            <a href="https://bradberger01.github.io" target="_blank">Portfolio</a> |
                            <a href="mailto:Brad@loudmouthmute.com" target="_blank">Email</a>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/Images/ProfilePhotos/ECallam.jpg" class="img-circle person" alt="Random Name" width="200" height="200">

                <h2>Elizabeth Callam</h2>
                <button class="accordion">Elizabeth's Bio</button>
                <div class="panel">
                    <p class="text-left">
                        I'm a junior software developer based in Cleveland, OH
                        with a background in full-stack software development,
                        non-profit fundraising, and database management.
                        I have a passion for building solutions for groups
                        with powerful missions dedicated to community growth.
                        I provide a consistent, results-oriented delivery with
                        flexibility and creativity. In my spare time, I enjoy
                        spending time with family, hiking, singing karaoke, and
                        tackling new recipes.
                        <ul>
                            Get in Touch:
                            <a href="https://linkedin.com/in/ecallam" target="_blank">LinkedIn</a> |
                            <a href="https://github.com/eacallam" target="_blank">Github</a> |
                            <a href="https://eacallam.github.io" target="_blank">Portfolio</a> |
                            <a href="mailto:ecallam@alumni.nd.edu" target="_blank">Email</a>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <img src="~/Images/ProfilePhotos/JPiedra.jpg" class="img-circle person" alt="Random Name" width="200" height="200">
                <h2>Jackie Piedra</h2>
                <button class="accordion">Jackie's Bio</button>
                <div class="panel">
                    <p class="text-left">
                        I'm a software developer from Cleveland, Ohio with experience in full-stack
                        software development designing and developing professional and commercially
                        viable software that solves problems and supports business needs.
                        After spending nearly a decade in Accounting and Finance, I have learned
                        to apply problem-solving skills and logic in building creative solutions
                        that are innovative and results-driven. I bring a passion for learning
                        and an open mind into every project. Outside of tech, I enjoy spending
                        time with my family, discovering new things in our wonderful city of Cleveland,
                        and learning to knit by watching YouTube videos.
                        <ul>
                            Get in Touch:
                            <a href="https://linkedin.com/in/jackiepiedra" target="_blank">LinkedIn</a> |
                            <a href="https://github.com/JackiePiedra" target="_blank">Github</a> |
                            <a href="https://jackiepiedra.github.io" target="_blank">Portfolio</a> |
                            <a href="mailto:jackie.r.piedra@gmail.com" target="_blank">Email</a>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <br>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Images/ProfilePhotos/KMcEwen.jpg" class="img-circle person" alt="Karen" width="200" height="200">
                <h2>Karen McEwen</h2>
                <button class="accordion">Karen's Bio</button>
                <div class="panel">
                    <p class="text-left">
                        Engaged in a full-time, 5-star-rated coding boot camp, learning full-stack development
                        from expert instructors and intensive hands-on projects. Planned, designed, and developed
                        professionally programmed applications in collaborative team-based and independent settings,
                        demonstrating the proficiency to earn Software Development Certificate.
                        <ul>
                            Get in Touch:
                            <a href="https://linkedin.com/in/karen-mcewen" target="_blank">LinkedIn</a> |
                            <a href="https://github.com/karenmcewen" target="_blank">Github</a> |
                            <a href="https://karenmcewen.github.io" target="_blank">Portfolio</a> |
                            <a href="mailto:karenmcewen.engineer@gmail.com" target="_blank">Email</a>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <img src="~/Images/ProfilePhotos/SSmith.jpg" class="img-circle person" alt="Sonja" width="200" height="200">
                <h2>Sonja Smith</h2>
                <button class="accordion">Sonja's Bio</button>
                <div class="panel">
                    <p class="text-left">
                        I'm a software developer | ui/ux designer from Cleveland, OH. I enjoy solving complex
                        problems for end-users in an application environment. I knew a few years ago that I wanted
                        to pursure a career in software development, but I wasn't sure how. I soon came across
                        We Can Code IT bootcamp while attending local coding meetups and the rest is history!
                        <ul>
                            Get in Touch:
                            <a href="https://linkedin.com/in/sonjasmithjrdev" target="_blank">LinkedIn</a> |
                            <a href="https://github.com/SonjaSmith" target="_blank">Github</a> |
                            <a href="https://sonjasmith.github.io" target="_blank">Portfolio</a> |
                            <a href="mailto:sonjasmith.com" target="_blank">Email</a>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <img src="~/Images/PTRex logo/PTRex logo_graphic only logo.png" @*class="img-circle person"*@ alt="PTR(e)x" width="200" height="200">
                <h2>PTR(e)x!</h2>
                <button class="accordion">PTR(e)x's Bio</button>
                <div class="panel">
                    <p class="text-left">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/About.js"></script>
</body>
</html>


@*Brad Berger
    http://linkedin.com/in/brad-berger
    https://github.com/bradberger01 (Github)
    https://bradberger01.github.io (Portfolio)
    Brad@loudmouthmute.com*@

@*Elizabeth Callam
    https://linkedin.com/in/ecallam
    https://github.com/eacallam (GitHub)
    https://eacallam.github.io (Portfolio)
    ecallam@alumni.nd.edu*@

@*Jackie Piedra
    https://linkedin.com/in/jackiepiedra
    https://github.com/JackiePiedra (GitHub)
    https://jackiepiedra.github.io (Portfolio)
    jackie.r.piedra@gmail.com*@

@*Karen McEwen
    https://linkedin.com/in/karen-mcewen
    https://github.com/karenmcewen (GitHub)
    https://karenmcewen.github.io (Portfolio)
    karenmcewen.engineer@gmail.com*@





