@{
//ViewBag.Title = "About PTR(e)x";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html>
<body>
    <link href="~/Content/About.css" rel="stylesheet" />
    <div class="container">
        <h2>PTR(e)x Web Application</h2>
        <div class="row">
            @*<div class="col-sm-6">
                    <p class="text-center"><strong>PTR(e)x</strong></p>
                    <img src="~/Images/PTRex logo/PTRex logo_graphic only logo.png" class="img-circle person" alt="Random Name" width="300" height="300">
                </div>*@
        </div>
    </div>

    <div class="container text-center">
        <h3>About the PTR(e)x Team</h3>
        <p>Recent graduates of WE CAN CODE IT bootcamp</p>
        @*<p><em>We are Graduates of WE CAN CODE IT Full-stack Bootcamp</em></p>*@
        @*<p>Creators of PTR(e)x Web Application</p>*@
        <br>
        <div class="row">
            <div class="col-sm-4">
                @*<p class="text-center"><strong>Brad Berger</strong></p>*@
                <img src="~/Images/ProfilePhotos/BBerger.jpg" class="img-circle person" alt="Random Name" width="100" height="100">

                <h2>Brad Berger</h2>
                <button class="accordion">Brad's Bio</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <button class="accordion">Portfolio</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <button class="accordion">Get in Touch</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam,.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                @*<p class="text-center"><strong>Elizabeth Callam</strong></p>*@
                <img src="~/Images/ProfilePhotos/ECallam.jpg" class="img-circle person" alt="Random Name" width="100" height="100">

                <h2>Elizabeth Callam</h2>
                <button class="accordion">Elizabeth's Bio</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <button class="accordion">Portfolio</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <button class="accordion">Get in Touch</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam,.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                @*<p class="text-center"><strong>Jackie Piedra</strong></p>*@
                <img src="~/Images/ProfilePhotos/JPiedra.jpg" class="img-circle person" alt="Random Name" width="100" height="100">

                <h2>Jackie's Piedra</h2>
                <button class="accordion">Jackie's Bio</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <button class="accordion">Portfolio</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.
                    </p>
                </div>

                <button class="accordion">Get in Touch</button>
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam,.
                    </p>
                </div>
            </div>
        </div>
 </div>

        <script src="~/Content/About.js"></script>
    </body>
</html>


@*Brad Berger
    http://linkedin.com/in/brad-berger
    https://github.com/bradberger01 (Github)
    https://bradberger01.github.io (Portfolio)
    Brad@loudmouthmute.com*@

@*Elizebeth Callam
    https://linkedin.com/in/ecallam
    https://github.com/eacallam (GitHub)
    https://eacallam.github.io (Portfolio)
    ecallam@alumni.nd.edu*@

@*Jackie Piedra
    https://linkedin.com/in/jackiepiedra
    https://github.com/JackiePiedra (GitHub)
    https://jackiepiedra.github.io (Portfolio)
    jackie.r.piedra@gmail.com*@

@*Karen McEwen
    https://linkedin.com/in/karen-mcewen
    https://github.com/karenmcewen (GitHub)
    https://karenmcewen.github.io (Portfolio)
    karenmcewen.engineer@gmail.com*@





