@{
//ViewBag.Title = "About PTR(e)x";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="container">
    <h2>PTR(e)x Web Application</h2>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">PTR(e)x</button>
    <div id="demo" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>

    @*<style>
        .container {
            padding: 80px 120px;
        }

        .person {
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 80%;
            height: 80%;
            opacity: 0.7;
        }

            .person:hover {
                border-color: #f1f1f1;
            }
    </style>*@

    <div class="container text-center">
        <h3>About the PTR(e)x Team</h3>
        <p>Recent graduates of WE CAN CODE IT bootcamp</p>
        @*<p><em>We are Graduates of WE CAN CODE IT Full-stack Bootcamp</em></p>*@
        @*<p>Creators of PTR(e)x Web Application</p>*@
        <br>
             <div class="row">
                <div class="col-sm-4">
                    <p class="text-center"><strong>Brad Berger</strong></p>
                    <img src="~/Images/ProfilePhotos/BBerger.jpg" class="img-circle person" alt="Random Name" width="100" height="100">
                </div>
                <div class="col-sm-4">
                    <p class="text-center"><strong>Elizabeth Callam</strong></p>
                    <img src="~/Images/ProfilePhotos/ECallam.jpg" class="img-circle person" alt="Random Name" width="100" height="100">
                </div>
                <div class="col-sm-4">
                    <p class="text-center"><strong>Jackie Piedra</strong></p>
                    <img src="~/Images/ProfilePhotos/JPiedra.jpg" class="img-circle person" alt="Random Name" width="100" height="100">
                    <p></p><br>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <p class="text-center"><strong>Karen McEwen</strong></p>
                        <img src="~/Images/ProfilePhotos/KMcEwen.jpg" class="img-circle person" alt="Karen" width="100" height="100">
                    </div>
                    <div class="col-sm-4">
                        <p class="text-center"><strong>Mike Spriggs</strong></p>
                        <img src="~/Images/ProfilePhotos/MSpriggs.jpg" class="img-circle person" alt="Mike" width="100" height="100">
                    </div>
                    <div class="col-sm-4">
                        <p class="text-center"><strong>Sonja Smith</strong></p>
                        <img src="~/Images/ProfilePhotos/JPiedra.jpg" class="img-circle person" alt="Sonja" width="100" height="100">
                    </div>
                </div>
            </div>


            @*<div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Images/ProfilePhotos/BBerger.jpg" /> <alt="Brad">
                    </a>
                </div>
            </div>*@

            @*<div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Images/ProfilePhotos/ECallam.jpg" /> <alt="Elizabeth">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Images/ProfilePhotos/JPiedra.jpg" /> <alt ="Jackie">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Images/ProfilePhotos/KMcEwen.jpg" /> <alt ="Karen">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Images/ProfilePhotos/MSpriggs.jpg" /> <alt ="Mike">
                    </a>
                </div>
            </div>*@

