@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>So who are the creators of the PTR(e)x appliccation? Checkout the six fabulous students of WE CAN CODE IT bootcamp below.</p>


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>PTR(e)x</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<style>
        .container {
            padding: 80px 120px;
        }

        .person {
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 80%;
            height: 80%;
            opacity: 0.7;
        }

            .person:hover {
                border-color: #f1f1f1;
            }
    </style>*@
</head>
<body>

    <div class="container text-center">
        <h3>THE PTR(e)x TEAM</h3>
        <p><em>Graduates of WE CAN CODE IT Full-stack Bootcamp!</em></p>
        <p>We are the creative minds behind the PTR(e)x web application.</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Brad</strong></p><br>
                <img src="~/Images/ProfilePhotos/BBerger.jpg" class="img-circle person" alt="Random Name" width="155" height="155">
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Elizabeth</strong></p><br>
                <img src="~/Images/ProfilePhotos/ECallam.jpg" class="img-circle person" alt="Random Name" width="155" height="155">
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Jackie</strong></p><br>
                <img src="~/Images/ProfilePhotos/JPiedra.jpg" class="img-circle person" alt="Random Name" width="155" height="155">
            </div>
        </div>
    </div>

</body>
</html>



@*<!DOCTYPE html>
<html>
@*<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>*@
<body>

    <div class="container">
        <h2>WE CAN CODE IT STUDENTS</h2>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Our Story</button>
        <div id="demo" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>

</body>
</html>



    @*<div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Images/ProfilePhotos/BBerger.jpg" /> <alt="Brad">
            </a>
        </div>
    </div>*@

    @*<div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Images/ProfilePhotos/ECallam.jpg" /> <alt="Elizabeth">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Images/ProfilePhotos/JPiedra.jpg" /> <alt ="Jackie">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Images/ProfilePhotos/KMcEwen.jpg" /> <alt ="Karen">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Images/ProfilePhotos/MSpriggs.jpg" /> <alt ="Mike">
            </a>
        </div>
    </div>*@

</body>
</html>
