@model PTRex.Models.UserProfile
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>PTR(e)x</h2>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Define the chart to be drawn.

        var data = google.visualization.arrayToDataTable([
          ['Workout', 'My PTR(e)x Plan', 'My R(e)x'],
          ['Sit-Stand', 10, 5],
          ['Pectoral Stretch', 5, 4],
          ['Pendulum Exercise', 10, 8],
          ['Shoulder Roll', 5,4],
          ['Sit-Stand', 10, 7]
        ]);

        var options = {
            chart: {
                title: 'My PTR(e)x Progress',
                subtitle: 'Last five exercises completed',
                colors: ['#7570b3', '#1b9e77']
            }
        };

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('myProgressChart'));
        chart.draw(data, null);
    }
</script>

<div class="container-fluid">
    <h2>Welcome back!</h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Progress</h3>
        </div>
        <div class="panel-body">
            <h4>Are you hitting your goals? Look at what you did in your last 5 workouts. Remember, you're getting healthier each time!</h4>
            <!--Progress google chart goes here-->
            <div id="myProgressChart" />
        </div>
    </div>
</div>

<div class="container-fluid">

    <h2 class="workout-now">
        READY TO WORK OUT?  <a class="btn btn-primary" href="@Url.Action("Create","ActualWorkouts")" role="button">Start your workout</a>
    </h2>



</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">MY PROFILE</div>
                <div class="panel-body">
                    <p>
                        Create, view, or update your profile information
                    </p>
                    <p>
                        <a class="btn btn-primary" href="@Url.Action("Details","UserProfiles")" role="button">My Profile</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">MY PTR(E)X PLAN</div>
                <div class="panel-body">
                    <p>
                        View your physical therapy plan
                    </p>
                    <p>
                        <a class="btn btn-primary" href="@Url.Action("Index","TargetWorkouts")" role="button">My PTR(e)x Plan</a>
                    </p>
                </div>
            </div>
        </div>
       
    </div>
</div>

