@model PTRex.Models.UserProfile
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>PTR(e)x</h2>-->
<

<div class="container-fluid">
    <h2>Hello, @User.Identity.Name!</h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">My Progress</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

<div class="container-fluid">
   
        <h2 class="workout-now">
            READY TO WORK OUT?  <a class="btn btn-primary" href="@Url.Action("","")" role="button">Start your workout</a>
        </h2>
    
        

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">MY PROFILE</div>
                <div class="panel-body">
                    <p>
                        View/update your profile information
                    </p>
                    <p>
                        <a class="btn btn-primary" href="@Url.Action("Details","UserProfiles")" role="button">My Profile</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">TARGET WORKOUT</div>
                <div class="panel-body">
                    <p>
                        View your physical therapy plan
                    </p>
                    <p>
                        <a class="btn btn-primary" href="@Url.Action("Index","TargetWorkouts")" role="button">My Target Plan</a>
                    </p>
                </div>
            </div>
        </div>
        @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">WORKOUT NOW</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>*@
    </div>
</div>

