    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>PTR(e)x</h1>
        <p class="lead">PTR(e)x is an app for doing Physical Therapy exercises at home</p>
        <@{
p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 id="appName">PTR(e)x</h1>
                    <h4 id="tagLine">An innovative and easy-to-use app that will help you do your physical therapy at home</h4>
                    <p>
                        <a class="btn btn-primary" href="#" role="button">Login</a>
                        
                    </p>

                </div>
            </div>
        </div>
    </div>
</header>

<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                @*<span class="glyphicon glyphicon-heart-empty" style="font-size:30px"></span>*@
                <h3 class="section-heading">Physical Therapy made easy so you can get Healthy</h3>
                <p class="about-app">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="about-team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    This app was created by a talented team of We Can Code IT software developers. Read more about the team <a href="#">here.</a>
                </p>
            </div>
        </div>
    </div>
</section>


@*<div class="row">
        <div class="col-md-4">
            <h2>How to Use the App</h2>
            <p>
                Quick description of the app here...
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

