    body
{

}

.nameHeading{
    color: #5B40A6;
font-size: 50px;
font-weight: bold;
padding-top: 60px;
text-align:center;
}

.heading {
color: #5B40A6;
font-size: 16px;
}

.editProfile{
text-align: center;
}

.editProfile a
{
    color: #5B40A6;
font-size: 14px;
}

.profileInfo{
    background-color: whitesmoke;
    border-top: 20px solid whitesmoke;
    border-bottom: 20px solid whitesmoke;
}

.createProfilePadding{
    padding-left: 9%;
}

.centerAlign{
    text-align: center;
}



